// Navbar
.navbar {
  background: $body-bg;
  // push entire contents 100px from the left edge
  .container-fluid {
    padding-left: 100px;
    padding-right: 1rem;    // keep normal right gutter
  }

  // increase vertical clickable area
  padding-top:    1rem;
  padding-bottom: 1rem;

  .btn {
    white-space: nowrap;
  }

  border-bottom: 1px solid rgba($secondary, .1);
  .navbar-brand img { height: 2rem; }
  .nav-link {
    color: $body-color;
    font-weight: 500;
    &:hover, &.active { color: $primary; }
  }
  .btn-outline-primary {
    white-space: nowrap;
    border-color: $primary;
    color: $primary;
    &:hover { background: $primary; color: #fff; }
  }
}